* {
    box-sizing: border-box;
}
body{
    margin: auto;
    width: 80%;
    max-width: 800px;
    
}
.fejlec{
    border: 1px solid gray;
    padding: 5px;
}
.tarolo{
    
    padding: 5px;
    border: 1px solid grey;
}
.menu{
    background-color: gray;
}
.menu ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}
.menu li{
    padding: 5px 10px;
}
.menu a{
    text-decoration: none;
    color: red;
}
.menu a:hover{
    color: white;
    background-color: red;
    border: 1px solid grey;
}
ul{
    border: 1px solid grey;
}
.kiskep{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.keret{
    border: 1px solid grey;
    padding: 5px;
}
img{
    border: 1px solid grey;
    padding: 5px;
    width: 100%;
}
@media screen and (max-width:500px){
    .menu ul{
        grid-template-columns: 1fr;
    }
    .kiskep{
        grid-template-columns: 1fr;
    }
}